 <% key_part = @request.repo_code.downcase %>
 <a class='btn btn-primary page_action feedback' href='<%= t("feedback.link.#{key_part}", default: t("feedback.link.default"))%>'
    title='<%=  t("feedback.text.#{key_part}", default: t("feedback.text.default")) %>' target='_blank'>

<i class="fa fa-comment"></i>&nbsp;<%= t("feedback.text.#{key_part}", default: t("feedback.text.default")) %></a>

